@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
  padding: 0;
  margin: 0;
}

body{
  /* background-color: #2b2b2b; */
  background-image: linear-gradient(to bottom right, #2b2b2b, rgb(8, 8, 8));
  color: white;
  font-family: 'Source Sans 3', sans-serif;
  letter-spacing: .08em;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Special Elite", serif;
  letter-spacing: .1em;
}

.active{
  text-decoration: underline;
}

header,
footer {
  padding: 1em 1em;
  color: white;
}

header h1 a{
  text-decoration: none;
  color: white;
  font-size: .8em;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

.nav-link:focus {
  color: white;
}

.main-container {
  padding: 0 0.4em;
}

.home-img {
  max-height: 95vh;
}

.social-links a {
  margin: 0 0 0 1em;
}

main{
  min-height: 90vh;
}

/* ABOUT PAGE */
.about-section-img img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
}

.about-section {
  margin: 0 0.5em;
  margin-right: 1.5em;
}

/* GALLERY PAGE */
img {
  filter: grayscale(100%);
  /* -webkit-filter: grayscale(100%); */
}

img:hover {
  filter: none;
  /* -webkit-filter: grayscale(0); */
}

/* CONTACT PAGE */
.contact-page {
  margin-left: 1em;
}

.contact-form-container {
  margin: 4em 0;
}

form .btn {
  margin-top: 1em;
}

/* FOOTER */

.social-links a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}