@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
  padding: 0;
  margin: 0;
}

body{
  background-image: linear-gradient(to bottom right, #2b2b2b, rgb(8, 8, 8));
  color: white;
  font-family: 'Source Sans 3', sans-serif;
  letter-spacing: .08em;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Special Elite", serif;
  letter-spacing: .1em;
}

.active{
  border-bottom: solid 1px white;
}

header,
footer {
  padding: 0 1em;
  color: white;
}

header h1 a{
  text-decoration: none;
  color: white;
  font-size: .8em;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

.nav-link:focus {
  color: white;
}

.main-container {
  padding: 0 0.4em;
}

.index-main{
  background-image: url("../images/cover-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

main{
  min-height: 90vh;
}

.section-heading{
  background-color: rgba(0,0,0, .7);
  padding: 2em;
  text-align: center;
}

/* ABOUT PAGE */
.about-section-img{
  margin: 4em 0 2em 0;
}
.about-section-img img {
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
}

.about-section{
  padding: 0 1em;
  margin: 1em 0;
}

/* GALLERY PAGE */
img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

/* CONTACT PAGE */
.contact-row{
  width: 100%;
}
.contact-form-container {
  margin: 1em 0;
}

form .btn {
  margin-top: 1em;
}

.form-img{
  max-width: 90%;
}

.contact-image-container{
  border: solid yellow 5px;
}

/* FOOTER */

.social-links a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}